marquee {
  width: 92%;
  height: 24px;
  line-height: 24px;
}
marquee span {
  font-size: 18px;
  font-weight: 444;
}
.current-video-cat {
  padding-left: 4%;
  color: #a1a1a1;
  text-align: left;
  font-size: 12px;
  border-bottom: 5px solid #f2f2f8;
}
.current-video-cat-info {
  text-align: left;
}

.txt-seperate {
  width: 4px;
  height: 4px;
  margin: 0 3px;
  border-radius: 2px;
  background-color: #a1a1a1;
  display: inline-block;
}
.video-cat-info {
  margin-top: 10px;
}
.video-cat-info div {
  display: inline-block;
}
.video-cat-info img {
  width: 5%;
  height: auto;
  margin-left: 1%;
  margin-right: 4%;
  display: inline-block;
}
.video-index,
.video-index-active {
  font-size: 14px;
}
.video-index-active {
  color: #fd7d02;
}
.video-cat-video-list,
.cat-video-detail {
  margin-top: 10px;
}
.video-cat-video-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}
.cat-video-detail {
  position: relative;

  margin-bottom: 10px;
  overflow-y: scroll;
}
.detail-video-list {
  width: 16.6%;
  height: 60px;
  text-align: center;
  float: left;
}
.detail-video-list button {
  position: relative;
  width: 45px;
  height: 45px;
  padding: 0;
  border-radius: 6px;
  outline: none;
  border: none;
}
#currentVideoInfo1 {
  flex: 1;
  overflow-y: hidden;
}
#currentVideoInfo1 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: white;
}
.video-wrapper {
  width: 100%;
  height: 100vh;
  max-height: 100vh !important;
  text-align: center;
  overflow-y: hidden !important;
  display: flex;
  flex-direction: column;
}
.current-program-title {
  background-color: white;
  padding-top: 10px;
}
.resolution-selection-landscape {
  width: 100px;
  color: #fff;
  text-align: center;
  display: inline-block;
}
.resolution-selection-landscape span {
  width: 12px;
  height: 12px;
  margin-right: 5px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
}
.resolution-list-landscape {
  position: absolute;
  right: 4%;
  bottom: 40px;
  width: 100px;
  height: 180px;
  height: auto;
  background-color: #444;
  color: white;
  z-index: 99999999999999999999;
}
.resolution-selected-item-landscap {
  color: #fd7d02;
}
.resolution-list-landscape ul li {
  height: 35px;
  padding-top: 5px;
}
.black-bg {
  background-color: #000 !important;
}
